.App {
  text-align: center;
  width: 640px;
  height: 480px;
  background: -webkit-radial-gradient(rgb(22, 135, 237), rgb(20, 55, 90));
  background: radial-gradient(rgb(22, 135, 237), rgb(20, 55, 90));
}

.header {
  color: snow;
  margin-top: 0;
  padding-top: 15px;
}

.weather-box {
  height: 350px;
  margin: -15px 300px -10px 0;
  padding-left: 5px;
  filter: invert(0.95);
}

.weather-ico {
  float: left;
  filter: invert(0.95);
  width: 220px;
}

.weather-desc {
  transform: translate(20px, 240px);
  font-family: Arial;
  font-size: 40px;
  width: 150px;
}

.temp {
  transform: translate(40px, 340px);
  font-family: Helvetica;
  display: block;
  font-size: 80px;
}

Calendar {
  float: right;
  margin: -30px 100 10px 100;
}

p {
  color: snow;
  background-color: black;
}

button {
  background: radial-gradient(rgb(22, 135, 237), rgb(20, 55, 90));;
  border-color: snpw;
  font-family: 'Franklin Gothic Medium';
  color: snow;
  font-size: 24px;
}